.aText {
  font-family: sans-serif;
  font-size: 2vw;
  text-anchor: middle;
  fill: #fff;
}

.active {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  /* fill: #000; */
  fill: #551aaf;
  /* transition: fill 0.3s ease-out; */
  text-anchor: middle;
}

.inactive {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 2vw;
  fill: #551aaf;
  /* transition: fill 0.3s ease-out; */
  text-anchor: middle;
}

.inactive:hover {
  fill: #e75480;
  /* cursor: pointer; */
  cursor: pointer;
}

.circ:hover {
  stroke: #551aaf;
  stroke-width: .2vw;
}


.chart {
  display: block;
  margin: 0;
}

.d3-tip {
  padding: 0px 6px;
  margin: 0px 0px;
  font-size: 12px;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

hr{
  border: 1px solid #fff;
  padding: 0px;
  margin: 0px; 
}

/* Mobile Rules */
@media all and (max-width: 530px) {
  .aText {
    display: none;
  }

  .circ:hover {
    stroke: black;
    stroke-width: 0.5vw;
  }
}